[submodule "iqp_gap/quest/deps/check"]
	path = iqp_gap/quest/deps/check
	url = https://github.com/libcheck/check.git
[submodule "iqp_gap/quest/deps/QuEST"]
	path = iqp_gap/quest/deps/QuEST
	url = https://github.com/QuEST-Kit/QuEST.git
